<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smilcool.server.core.dao.ResourceMapper">
    <resultMap id="BaseResultMap" type="com.smilcool.server.core.pojo.po.Resource">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="resource_type_id" jdbcType="INTEGER" property="resourceTypeId"/>
        <result column="zan_count" jdbcType="INTEGER" property="zanCount"/>
        <result column="pv_count" jdbcType="INTEGER" property="pvCount"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, resource_type_id, zan_count, pv_count, state, remark, create_time, update_time,
    deleted, comment_count
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from resource
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE
        FROM resource
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.smilcool.server.core.pojo.po.Resource">
        INSERT INTO resource (id, user_id, resource_type_id,
                              zan_count, pv_count, state,
                              remark, create_time, update_time,
                              deleted, comment_count)
        VALUES (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{resourceTypeId,jdbcType=INTEGER},
                #{zanCount,jdbcType=INTEGER}, #{pvCount,jdbcType=INTEGER}, #{state,jdbcType=INTEGER},
                #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
                #{deleted,jdbcType=BIT}, #{commentCount,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.smilcool.server.core.pojo.po.Resource"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="resourceTypeId != null">
                resource_type_id,
            </if>
            <if test="zanCount != null">
                zan_count,
            </if>
            <if test="pvCount != null">
                pv_count,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="commentCount != null">
                comment_count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="resourceTypeId != null">
                #{resourceTypeId,jdbcType=INTEGER},
            </if>
            <if test="zanCount != null">
                #{zanCount,jdbcType=INTEGER},
            </if>
            <if test="pvCount != null">
                #{pvCount,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="commentCount != null">
                #{commentCount,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.smilcool.server.core.pojo.po.Resource">
        update resource
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="resourceTypeId != null">
                resource_type_id = #{resourceTypeId,jdbcType=INTEGER},
            </if>
            <if test="zanCount != null">
                zan_count = #{zanCount,jdbcType=INTEGER},
            </if>
            <if test="pvCount != null">
                pv_count = #{pvCount,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.smilcool.server.core.pojo.po.Resource">
        UPDATE resource
        SET user_id          = #{userId,jdbcType=INTEGER},
            resource_type_id = #{resourceTypeId,jdbcType=INTEGER},
            zan_count        = #{zanCount,jdbcType=INTEGER},
            pv_count         = #{pvCount,jdbcType=INTEGER},
            state            = #{state,jdbcType=INTEGER},
            remark           = #{remark,jdbcType=VARCHAR},
            create_time      = #{createTime,jdbcType=TIMESTAMP},
            update_time      = #{updateTime,jdbcType=TIMESTAMP},
            deleted          = #{deleted,jdbcType=BIT},
            comment_count    = #{commentCount,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectAll" resultType="com.smilcool.server.core.pojo.po.Resource">
        select
        <include refid="Base_Column_List"/>
        from resource
    </select>

    <select id="selectByCondition" resultType="com.smilcool.server.core.pojo.po.Resource">
        select
        <include refid="Base_Column_List"/>
        from resource
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test="resourceTypeId != null">
                AND resource_type_id = #{resourceTypeId}
            </if>
        </where>
    </select>
</mapper>